Django>=3.2
djangorestframework>=3.12.4
django-cloudinary-storage>=0.3.0
cloudinary>=1.24.0
Pillow>=8.0.0  # For handling image uploads
gunicorn  # For deploying the app
psycopg2-binary  # If you're using PostgreSQL as your database
dj-database-url>=0.5.0  # If you're configuring the database through environment variables
whitenoise>=5.2.0  # For serving static files
